/* stylesheet */

@font-face {
  font-family: 'jgs5';
  src: url("../../jgs5.ttf");
}

@font-face {
  font-family: 'jgs9';
  src: url("../../jgs9.ttf");
}

body {
  padding-left: 1rem;
}

header article {
  display: inline-block;
  vertical-align: top;
  width: 15rem;
}

.jgs5 pre {
  font-family: 'jgs5';
}

.jgs9 pre {
  font-family: 'jgs9';
}

.x1.jgs5 pre {
  font-size: 10px;
  line-height: 10px;
}

.x2.jgs5 pre {
  font-size: 20px;
  line-height: 20px;
}

.x3.jgs5 pre {
  font-size: 30px;
  line-height: 30px;
}

.x1.jgs9 pre {
  font-size: 18px;
  line-height: 18px;
}

.x2.jgs9 pre {
  font-size: 36px;
  line-height: 36px;
}

.x3.jgs9 pre {
  font-size: 54px;
  line-height: 54px;
}

.day {
  color: black;
  background-color: white;
}

.night {
  color: white;
  background-color: black;
}
